<!doctype html>

<html>
  <head>
    <link rel="stylesheet" href="lib/style.css">
    <script src="lib/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Asap+Condensed&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="myLlamaFacts">
      <h1 v-if="fact10Display==true">Top 10 No Drama Llama Facts</h1>
      <h1 v-else>Top 9 No Drama Llama Facts<h1>
        <ol>
          <li>{{fact1}}</li>
          <li>{{fact2}}</li>
          <li>{{fact3}}</li>
          <li>{{fact4}}</li>
          <li>{{fact5}}</li>
          <li>{{fact6}}</li>
          <li>{{fact7}}</li>
          <li>{{fact8}}</li>
          <li>{{fact9}}</li>
          <li v-if="fact10Display==true">{{fact10}}</li>
          </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="lib/script.js"></script>
  </body>
</html>
